*.code-workspace

# Snakemake hidden files
.snakemake/

# Log files
logs/*

# Processed data files
processed_reads/*

# Genome Index files
SARS-CoV-2-refseq/*.amb
SARS-CoV-2-refseq/*.ann
SARS-CoV-2-refseq/*.bwt
SARS-CoV-2-refseq/*.pac
SARS-CoV-2-refseq/*.sa
