.DS_Store

# R setup
.Rproj.user
UM-CoV-Seq.Rproj
.Rhistory

# Editor files and setup
*.code-workspace
.vscode/

# Snakemake hidden files
.snakemake/

# Log files
logs/*
slurm_logs/*

# raw data files
data/

# Processed data files
processed_reads/*

# Results files
results/*

# Genome Index files
SARS-CoV-2-refseq/*.amb
SARS-CoV-2-refseq/*.ann
SARS-CoV-2-refseq/*.bwt
SARS-CoV-2-refseq/*.pac
SARS-CoV-2-refseq/*.sa
SARS-CoV-2-refseq/*.fai
SARS-CoV-2-refseq/*.dict

# Files leftover from testing
temp_results/
temp_results_dedup/*
phix/
old/
*test*

# Project-specific config files
config_files/config_rerun_*.yaml
